{% extends 'base.html' %}

{% block content %}
<p id="nav" class="no-print" style="width:100%; background-color:080; text-align:right;">
    &nbsp;
</p>
<div id="content">
    <h1>Gruppe "{{ gname }}"</h1>
    <p><a href="{{ relroot }}_logout">logout</a></p>
    <h2>Alle Mitglieder</h2>
    <div id="gmlist"></div>
    <input type="hidden" class="formdata" name="gid" id="gid" value="{{ gid }}">
    <label for="addMember">Mitglied hinzufügen:</label>
    <select class="formdata" name="addMember" id="addMember">
        <option value="">-</option>
    </select>
    <input type="submit" onclick="submit()">
</div>

<script src="{{ relroot }}_static/getFormJson.js"></script>
<script src="{{ relroot }}_static/polalert.js"></script>

<script>
    var relroot = '{{ relroot }}';
    var gm = JSON.parse({{ gmJson|tojson }});
    var gnm = JSON.parse({{ gnmJson|tojson }});
    var out = '<table>';
    out += '<tr><th>family_name</th><th>given_name</th></tr>\n';
    for (var i=0; i<gm.length; i++){
        out += '<tr>';
        out += '<td><a href="{{ relroot }}group/'+gm[i].mid+'">'+gm[i].family_name+'</a></td>';
        out += '<td>'+gm[i].given_name+'</td>';
        out += '</tr>';
    }
    out += '</table>';
    document.getElementById('gmlist').innerHTML = out;
    
    var addMember = document.getElementById('addMember');
    for (var i = 0; i<gnm.length; i++){
        var opt = document.createElement('option');
        opt.value = gnm[i].mid;
        opt.innerHTML = gnm[i].given_name+' '+gnm[i].family_name;
        addMember.appendChild(opt);
    }
    
    async function submit() {
        // send form to server
        var formJson = getFormJson();
        var postUrl = 'addMember';
        try{
            const response = await fetch(postUrl, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formJson)
            });
            response.text().then(function (text) {
                pa.message(text)
            });
        } catch(err) {
            alert(err);
        }
    }
</script>
{% endblock %}
