{% extends 'base.html' %}

{% block content %}
<p id="nav" class="no-print" style="width:100%; background-color:080; text-align:right;">
    &nbsp;
</p>
<div id="content">
    <p><a href="{{ relroot }}_logout">logout</a></p>
    <h1>Log</h1>
    <div id="log">
    </div>
</div>

<script src="{{ relroot }}_static/getFormJson.js"></script>
<script src="{{ relroot }}_static/polalert.js"></script>

<script>
    var relroot = '{{ relroot }}';
    var lg = JSON.parse({{ logJson|tojson }});
    out = '<table>';
    out += '<tr><th>timestamp</th><th>Mitglied</th><th>old_data</th><th>new_data</th></tr>\n';
    for (var i=0; i<lg.length; i++){
        out += '<tr>';
        out += '<td>'+lg[i]['timestamp']+'</td>';
        out += '<td><a href="{{ relroot }}member/'+lg[i]['changed_mid']+'">'+lg[i]['family_name']+', '+lg[i]['given_name']+'</a></td>';
        out += '<td>'+lg[i]['old_data']+'</td>';
        out += '<td>'+lg[i]['new_data']+'</td>';
        out += '</tr>';
    }
    out += '</table>';
    document.getElementById('log').innerHTML = out;
</script>
{% endblock %}
