{% extends 'base.html' %}

{% block content %}
            <p id="nav" class="no-print" style="width:100%; background-color:080; text-align:right;">
                &nbsp;
            </p>
<nav id="pagenav">
    <p>Logged in as: {{ authuser }} | <a href="{{ relroot }}_logout">Logout</a></p>
</nav>
<div id="content">
    <h1>Mitglied verwalten</h1>
    <p><b>Warnung:</b> Nur die Felder bearbeiten von denen du <i>wirklich</i> weißt was drin stehen soll! Einstellungen hier werden ohne Überprüfung übernommen!</p>
    <p><b>Warnung:</b> Boolean-Felder (Ja-Nein-Felder) müssen <code>1</code> (="Ja"), <code>0</code> (="Nein") oder <code>null</code> (="unbekannt") enthalten!</p>
    <div id="data"></div>
    <button id="submit" onclick="submit()">Änderungen speichern</button>
    <hr>
    <button onclick="delete(pa.input('Das ist unwiderbringlich! Wirklich löschen?<br>Dann tippe <code>DELETE</code> ein!'))" style="color:red;">Mitglied löschen</button>
</div>

<script src="{{ relroot }}_static/getFormJson.js"></script>
<script src="{{ relroot }}_static/polalert.js"></script>
<script>
    var relroot = '{{ relroot }}';
    var m = JSON.parse({{ mJson|tojson }});
    var states = JSON.parse({{ states|tojson }});
    
    function showMember(){
        out = '<table><tr><th>key</th><th>value</th></tr>';
        for (var key in m) {
            out += '<tr><td>'+key+'</td>';
            out += '<td>';
            if (key=='mid' || key=='pwsalt' || key=='pwhash' || key=='last_update') {
                out += '<input type="text" class="formdata" name="'+key+'" id="'+key+'" ';
                out += 'value="'+m[key]+'" disabled>';
            } else if (key=='status') {
                out += '<select class="formdata" name="'+key+'" id="'+key+'" selected="'+m[key]+'">';
                out += '<option></option>';
                for (var i=0; i<states.length; i++) {
                    if (states[i] == m[key]) {
                        out += '<option selected="selected">'+states[i]+'</option>';
                    } else {
                        out += '<option>'+states[i]+'</option>';
                    }
                }
                out += '</select>';
            } else {
                out += '<input type="text" class="formdata" name="'+key+'" id="'+key+'" ';
                out += 'value="'+m[key]+'">';
            }
            out += '</td></tr>';
        }
        out += '</table>';
        document.getElementById('data').innerHTML = out;
    }
    showMember();
    async function submit() {
        // send form to server
        var formJson = getFormJson();
        var putUrl = relroot+'memberAdmin/'+m.mid;
        try{
            const response = await fetch(putUrl, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formJson)
            });
            response.text().then(function (text) {
                if (text=='ok' && response.status==200) pa.message('Erfolgreich gespeichert!');
                else pa.error(text);
            });
        } catch(err) {
            alert(err);
        }
    }
    // Delete:
    async function paInputReceive(inputtext) {
        if (inputtext == 'DELETE') {
            var deleteUrl = relroot+'_deleteMember/'+m.mid;
            try{
                const response = await fetch(deleteUrl, {
                    method: 'DELETE',
                });
                response.text().then(function (text) {
                    if (text=='ok' && response.status==200) pa.message('Erfolgreich gelöscht!');
                    else pa.error(text);
                });
            } catch(err) {
                alert(err);
            }
        } else {
            alert('Ok, nichts passiert.');
        }
    }
</script>

{% endblock %}
