{% extends 'base.html' %}

{% block content %}
<p id="nav" class="no-print" style="width:100%; background-color:080; text-align:right;">
    &nbsp;
</p>
<div id="content">
    <h1>MemberBase Management</h1>
    <p><a href="_logout">logout</a></p>
    <hr>
    <h2>Mitgliederlisten nach Status</h2>
    <ul id="statesList"></ul>
    <hr>
    <h2>Änderungs-Protokoll</h2>
    <ul>
        <li><a href="{{ relroot }}log/address">Adress-Änderungen</a></li>
    </ul>
    <p>TODO: Änderungs-Protokoll für eMail-Adressen muss noch implementiert werden. Ggf. wird noch eine bessere Ansicht für Adressänderungen implementiert.</p>
</div>

<script src="{{ relroot }}_static/getFormJson.js"></script>
<script src="{{ relroot }}_static/polalert.js"></script>

<script>
    var states = JSON.parse({{ statesJson|tojson }});
    console.log(states);
    out = '';
    for (var i=0; i<states.length; i++){
        out += '<li>';
        out += '<a href="{{ relroot }}manageList/'+states[i]+'">'+states[i]+'</a>';
        out += '</li>';
    }
    document.getElementById('statesList').innerHTML = out;
</script>
{% endblock %}
