{% extends 'base.html' %}

{% block content %}
            <p id="nav" class="no-print" style="width:100%; background-color:080; text-align:right;">
                &nbsp;
            </p>
<nav id="pagenav">
</nav>
<div id="content">
    <input type="hidden" class="formdata" name="mid" id="mid">
    <h1 id="name"></h1>
    <label for="call_name">Rufname:</label>
    <input type="text" class="formdata" name="call_name" id="call_name"><br>
    <label for="title">Titel:</label>
    <input type="text" class="formdata" name="title" id="title"><br>
    <h2>Adresse:</h2>
    <label for="street">Straße:</label>
    <input type="text" class="formdata" name="street" id="street"><br>
    <label for="street_number">Hausnummer:</label>
    <input type="text" class="formdata" name="street_number" id="street_number"><br>
    <label for="appartment">Adresszusatz:</label>
    <input type="text" class="formdata" name="appartment" id="appartment"><br>
    <label for="postal_code">PLZ:</label>
    <input type="text" class="formdata" name="postal_code" id="postal_code"><br>
    <label for="city">Stadt:</label>
    <input type="text" class="formdata" name="city" id="city"><br>
    <h2>Kontakt:</h2>
    <label for="email">eMail:</label>
    <input type="text" class="formdata" name="email" id="email"><br>
    <label for="email">eMail-Verifikation:</label>
    <input type="text" class="formdata" name="email2" id="email2"><br>
    <p><i>(zweimal eingeben um Tippfehler zu vermeiden!)</i></p>
    <h2>eMail-Optionen</h2>
    <p>Welche Informationen möchtest du per eMail (und <b>nicht mehr per Post</b>) erhalten?</p>
    <label for="email_newsletter">eMail-Verteiler:</label>
    <input type="checkbox" class="formdata" name="email_newsletter" id="email_newsletter"><br>
    <label for="email_protocols">Protokolle:</label>
    <input type="checkbox" class="formdata" name="email_protocols" id="email_protocols"><br>
    <label for="email_magazine">{{ magazine_name }}:</label>
    <input type="checkbox" class="formdata" name="email_magazine" id="email_magazine"><br>
    <h2>Datenschutz</h2>
    <p><details><summary>Datenschutzbestimmung</summary>
        <hr>
        {{ privacy_declaration|safe }}
        <hr>
    </details></p>
    <label for="privacy_accepted">Zustimmung:</label>
    <input type="checkbox" class="formdata" name="privacy_accepted" id="privacy_accepted"><br><br>
    <h3>Sichtbarkeit</h3>
    <p>Möchtest du, dass andere Mitglieder deine Adresse über deinen Rufnamen oder, falls der nicht vergeben ist, über den Vornamen nachschauen können?</p>
    <label for="allow_address_internal">Adresse sichtbar:</label>
    <input type="checkbox" class="formdata" name="allow_address_internal" id="allow_address_internal"><br>
    <input type="hidden" class="formdata" name="geo_lat" id="geo_lat">
    <input type="hidden" class="formdata" name="geo_lon" id="geo_lon">
    <h3>Passwort einrichten</h3>
    <p>Diese Seite ist durch die URL geschützt.<br>
        Optional kannst du auch ein Passwort festlegen, dann ist diese Seite ohne Passwort nicht mehr erreichbar.<br>
        <i>(Hinweis: Das Zurücksetzen eines vergessenen Passwortes ist aktuell nur durch den Vorstand möglich!)</i></p>
    <label for="password">Passwort:</label>
    <input type="password" autocomplete="off" class="formdata" name="password" id="password" oninput="pwType(this.value)" style="color:green"><br>
    <label for="password2">Passwort-Verifikation:</label>
    <input type="password" autocomplete="off" class="formdata" name="password2" id="password2"><br>
    <p>Das Passwort muss:
        <ul>
            <li><b>mindestens <u>10 Zeichen</u></b> lang sein</li>
            <li><b>mindestens einen <u>Großbuchstaben</u>, einen <u>Kleinbuchstaben</u> und eine <u>Ziffer</u></b> enthalten</li>
            <li>erlaubte Sonderzeichen (nicht empfohlen!): <code>äöüÄÖÜß!§$%()=?+-_</code>
        </ul>
    </p>
    <hr>
    <button id="submit" onclick="check()">Änderungen speichern</button>
    <p><i><b>Hinweis:</b> Änderungen werden hier direkt gespeichert, müssen aber bei manchen Optionen, z.B. beim Mailverteiler, vom Schriftwart manuell in andere Systeme übertragen werden. Bitte habe hier etwas Geduld!</i></p>
    <hr>
    
    <h2>Andere Mitglieder</h2>
    <p>Hier siehst du die Wohnorte aller Mitglieder, die der Sichtbarkeit der eigenen Adresse zugestimmt haben.<br>
    Eine Suchmöglichkeit nach Mitgliedern ist noch in Planung.<br>
    <i>(Nach Änderungen oben diese Seite einmal neu laden!)</i></p>
    <div id="mapd">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <div id="map" style="width: 600px; height: 400px; max-width:100%;"><button onclick="showMap()">Zeige Karte</button></div>
    </div>
</div>

<script src="{{ relroot }}_static/getFormJson.js"></script>
<script src="{{ relroot }}_static/polalert.js"></script>
<script>
    var relroot = '{{ relroot }}';
    var m = JSON.parse({{ mJson|tojson }});
    var g = JSON.parse({{ gJson|tojson }});
    var geos = JSON.parse({{ geoJson|tojson }});
    var manager = JSON.parse({{ manager|tojson }});
    if (manager) document.getElementById('nav').innerHTML = '<a href="{{ relroot }}manage">Management</a>';
    
    var pagenav = document.getElementById('pagenav');
    if (g==[]) {
        pagenav.innerHTML = '<p>Logged in as: {{ authuser }} | <a href="{{ relroot }}_logout">Logout</a></p>';
    } else if (g.includes('management')) {
        pagenav.innerHTML = '<p>Logged in as: {{ authuser }} | <a href="{{ relroot }}_logout">Logout</a> | <a href="{{ relroot }}manage">Manage</a></p>';
    } else {
        pagenav.innerHTML = '<p>Logged in as: {{ authuser }} | <a href="{{ relroot }}_logout">Logout</a></p>';
    }
    
    function showMember() {
        document.getElementById('mid').value = m.mid;
        document.getElementById('name').innerHTML = m.title+' '+m.given_name+' '+m.family_name;
        document.getElementById('title').value = m.title;
        document.getElementById('street').value = m.street;
        document.getElementById('street_number').value = m.street_number;
        document.getElementById('appartment').value = m.appartment;
        document.getElementById('postal_code').value = m.postal_code;
        document.getElementById('city').value = m.city;
        document.getElementById('email').value = m.email;
        document.getElementById('email2').value = m.email;
        document.getElementById('email_newsletter').checked = m.email_newsletter;
        document.getElementById('email_protocols').checked = m.email_protocols;
        document.getElementById('email_magazine').checked = m.email_magazine;
        document.getElementById('privacy_accepted').checked = m.privacy_accepted;
        document.getElementById('allow_address_internal').checked = m.allow_address_internal;
        document.getElementById('geo_lat').checked = m.geo_lat;
        document.getElementById('geo_lon').checked = m.geo_lon;
    }
    showMember();
    function showMap() {
        const map = L.map('map').setView([51, 10], 5);
        const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        let markers = [];
        for (let i=0; i<geos.length; i++) {
            markers[i] = L.marker([geos[i].geo_lat, geos[i].geo_lon]).addTo(map);
            markers[i].bindPopup(geos[i].name);
        }
    }
    
    function paOk() {
        submit();
    }    
    function paNo() {
    }    
    function getGeo() {
        let street=document.getElementById('street').value.trim().replaceAll(' ', '+');
        let street_number=document.getElementById('street_number').value.trim().replaceAll(' ', '+');
        let city=document.getElementById('city').value.trim().replaceAll(' ', '+');
        let request = new XMLHttpRequest();
        request.open('GET', 'https://nominatim.openstreetmap.org/search?street='+street+'+'+street_number+'&city='+city+'&format=json', true);
        request.onload = () => {
            let res = JSON.parse(request.responseText);
            if (res.length>0) {
                document.getElementById('geo_lat').value = res[0].lat;
                document.getElementById('geo_lon').value = res[0].lon;
                submit();
            } else {
                pa.boolean('<b>Warnung:</b><br>Adresse nicht gefunden!<br>Dennoch übernehmen?');
            }
        }
        request.send();
    }
    
    function check() {
        // check if data is consistent
        var formJson = getFormJson();
        if (formJson.email != formJson.email2){
            pa.error('Die Mailadressen stimmen nicht überein!');
            return;
        }
        if (formJson.password != formJson.password2){
            pa.error('Die Passwörter stimmen nicht überein!');
            return;
        }
        var pwInput = document.getElementById('password');
        if (pwInput.style.color != 'green'){
            pa.error('Das Passwort entspricht noch nicht den Anforderungen!');
            return;
        }
        if (!(document.getElementById('privacy_accepted').checked)) {
            pa.error('Du musst die Datenschutzbestimmung akzeptieren um hier Einstellungen vornehmen zu können!');
            return;
        }
        if (document.getElementById('allow_address_internal').checked) {
            try {
                getGeo();
            } catch {
                pa.boolean('<b>Warnung:</b><br>Adresse nicht gefunden!<br>Dennoch übernehmen?');
            }
        } else {
            submit();
        }
    }
    
    async function submit(formJson) {
        // send form to server
        var formJson = getFormJson();
        var postUrl = relroot+'member/'+m.mid;
        try{
            const response = await fetch(postUrl, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formJson)
            });
            response.text().then(function (text) {
                if (text=='ok') pa.message('Erfolgreich gespeichert!');
                else pa.warning(text);
            });
        } catch(err) {
            alert(err);
        }
    }
    
    var pwRegex = new RegExp("(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=^[a-zA-Z0-9äöüÄÖÜß!§$%()=?+-_]{10,}$)");
    function pwType(val) {
        var pwInput = document.getElementById('password');
        pwInput.style.color = 'orange';
        if (val.length < 10) {
            pwInput.style.color = 'red';
        } else {
            if (pwRegex.test(val)) {
                pwInput.style.color = 'green';
            }
            else {
                pwInput.style.color = 'orange';
            }
        }
    }
</script>

{% endblock %}
