<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Brief</title>
    <style>
html {
    margin: 0;
    padding: 0;
}
@page {
    size: A4;
    margin: 0;
    padding: 0;
}
div.sheet {
    width: 210mm;
    height: 287mm;
    margin: 0;
    padding: 0;
    padding-top: 5mm;
}
@media print {
    .sheet {
        page-break-after: always;
    }
}
div.al3490 {
    height: 26mm;
    width: 60mm;
    float: left;
    margin: 0;
    padding: 5mm;
    font-size: 10pt;
}
    </style>
  
    </head>
  <body>
      {{ content|safe }}
      <!--
      <div class="sheet">
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
      </div><div class="sheet">
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
      </div><div class="sheet">
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
        <div class="al3490">test</div>
      </div>
      -->
  </body>
</html>
